body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 350px;
    margin: 60px auto;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px #bbb;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input {
    width: 90%;
    padding: 8px;
    font-size: 16px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background: #4CAF50;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}
